.div1 {
  background-image:url('D:/alal/image/19314.jpg') ;
  background-repeat: no-repeat;
background-size: 100%;
display : inline-block;
                      width : 30%;
                      height: 300px;
                      margin: 0px 0 20px;
}
.div2{
background-image:url('D:/alal/image/35064.jpg') ;
background-repeat: no-repeat;
background-size: 100%;
display : inline-block;
                      width : 30%;
                      height: 300px;
                      margin: 0px 0 20px;
}
.div3 {
  background-image:url('D:/alal/image/38789.jpg') ;
  background-repeat: no-repeat;
background-size: 100%;
display : inline-block;
                      width : 30%;
                      height: 300px;
                      margin: 0px 0 20px;
}
.div4 {
  background-image:url('D:/alal/image/53382.jpg') ;
  background-repeat: no-repeat;
background-size: 100%;
display : inline-block;
                      width : 30%;
                      height: 300px;
                      margin: 0px 0 20px;
}
.div5 {
  background-image:url('D:/alal/image/85423.jpg') ;
  background-repeat: no-repeat;
background-size: 100%;
display : inline-block;
                      width : 30%;
                      height: 300px;
                      margin: 0px 0 20px;
}
.div6 {
  background-image:url('D:/alal/image/208594.jpg') ;
  background-repeat: no-repeat;
background-size: 100%;
display : inline-block;
                      width : 30%;
                      height: 300px;
                      margin: 0px 0 20px;
}
.div6 {
  background-image:url('D:/alal/image/vincent.jpg') ;
  background-repeat: no-repeat;
background-size: 100%;
display : inline-block;
                      width : 30%;
                      height: 300px;
                      margin: 0px 0 20px;
}
